<div class="container mt-md-5">
    <h2 class="text-center mb-4 mt-3 mt-md-0">Our Gallery</h2>
    <div class="row">
      <!-- Gallery Card -->
      <div class="col-md-4 col-sm-6 mb-4" *ngFor="let image of galleryImages">
        <div class="gallery-card">
          <img [src]="image.src" class="img-fluid" alt="{{ image.title }}" (click)="openModal(image)">
          <div class="overlay">
            <div class="text">{{ image.title }}</div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img [src]="selectedImage?.src" class="img-fluid" alt="{{ selectedImage?.title }}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  